html{
    /*background-color: floralwhite;
    color: black;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/
}

body {
    margin: 0;
    padding: 0;
}

label[for="theme"] {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.toggle-indicator {
  display: block;
  width: 26px;
  height: 26px;
  margin: 4px;
  background: #fff;
  border-radius: 50%;
  transition: margin-left 0.2s;
}

/* when checked, move the indicator and change its color */
#theme:checked ~ label[for="theme"] .toggle-indicator {
  margin-left: 26px;
  background: #000;
}

#theme:checked ~ label[for="theme"] {
  background: #222;
}


input[type='checkbox']#theme {
  display: none;
}

/* themes */

main {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

#theme:checked ~ main {
    /* dark theme */
    --bg-color: #121212;
    --text-color: floralwhite;
    --accent-color: #ffffff;
}

#theme:not(:checked) ~ main {
   /* light theme */ 
    --bg-color: floralwhite;
    --text-color: #333333;
    --accent-color: #000000; 
}

/* content styles */

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.title h1{
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: bolder;
    margin-right: 2px;
}
.title h3{
    display: flex;
    margin: 0%;
    padding-top: 0%;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}

li form{
    text-align: center;
    border-width: 0.1em;
}

button{
    width: 150px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color:var(--bg-color);
    border-color: azure;
    border-style: none;
    color: var(--text-color);
}

button:hover{
    background-color: aquamarine;
    color: cornflowerblue;
}

.the-end{
    font-style: oblique;
    font-family: cursive;
    font-size: 1.8em;
    padding-bottom: 80px;
}
#index{
    font-size: 1.2em;
}
a:link{
    text-decoration: none;
    color: var(--text-color);
}
a:visited{
    text-decoration: none;
    color:gray;
}
a:hover{
    text-decoration: wavy;
    color:orangered;
}
#comments{
    margin-left: 5px;
    width: 180px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color: var(--bg-color);
    border-color: azure;
    border-style: none;
    color: var(--text-color);
}
a:hover#comments {
    background-color: aquamarine;
    color: cornflowerblue;
}

/*---content that changes for mobile---*/
.mainContent{
    display: grid;
    margin: 0 25% 0 25%;
    overflow-y: hidden;
    padding: 2%;
}
.mainContent p{
    font-size: 110%;
}
.mainContent ul{
    padding-top: 0;
    list-style: none;
    padding-left: 20%;
    padding-right: 20%;
}
p.img_subtitle{
    font-weight: 300;
    font-style: oblique;
    padding: 1px;
    margin: 0;
    font-size: 96%;
}
img{
    width:80%;
    max-width:100%;
}
#images {
    display: flex;
}
#images img{
    width: 50%;
    max-width: 40%;
}
hr{
    border: 10px;
    color: var(--text-color);
    overflow: visible;
    text-align: center;
    height: 5px;
}
/*hr:after {
    background:  rgb(255, 254, 250);
    content: '_ _ _ _ _';
    padding: 0 4px;
    position: relative;
}*/
.date{
    font-size: 1.5em;
    padding-left: 32%;
    font-family: monospace;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 700;
}


@media only screen and (max-width:1250px) {

    .mainContent{
        margin: 0 5% 0 5%;
        padding: 1%;
    }
    .mainContent p{
        font-size: 140%;
    }
    .mainContent li{
        font-size: 120%;
    }
    .mainContent ul{
        list-style: none;
        padding: 0;
    }
    .mainContent h2{
        font-size: 180%;
    }
    .mainContent h3{
        font-size: 155%;
    }
    .mainContent h4{
        font-size: 145%;
    }
    p.img_subtitle{
        font-size: 115%;
    }
    img{
        width:100%;
        max-width:100%;
    }
    #images {
        display: flex;
    }
    #images img{
        width: 50%;
        max-width: 50%;
    }
    .date{
        font-size: 2em;
        padding-top: 0.5%;
        padding-left: 8%;
        font-family: monospace;
        font-style: italic;
        font-weight: 700;
    }
}
