footer{
    position: fixed;
    padding: 16px 16px 10px 16px;
    left: 0;
    bottom: 0;
    width: auto;
    background-color:rgba(255, 245, 210, 0.61);
}
footer p{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}

#footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#suggestions{
    width: 100px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}

button#footer_button{
    width: 100px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}

button:hover#footer_button{
    background-color: aquamarine;
    color: cornflowerblue;
}
a:link#suggestions{
    text-decoration: none;
}
a:hover#suggestions {
    background-color: aquamarine;
    color: cornflowerblue;
}
