/* footer */

footer{
    position: fixed;
    padding-left: 10px;
    left: 5px;
    bottom: 0;
    width: auto;
    background-color:rgba(255, 245, 210, 0.61);
    padding-left: 10px;
}
footer p{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}

#suggestions{
    margin-left: 5px;
    width: 190px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
button#footer_button{
    width: 100px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
button:hover#footer_button{
    background-color: aquamarine;
    color: cornflowerblue;
}
a:link#suggestions{
    text-decoration: none;
}
a:hover#suggestions {
    background-color: aquamarine;
    color: cornflowerblue;
}
