html{
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right{
    text-align: right;
}
.name{
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.surname{
    display: flex;
    margin: 0%;
    padding-top: 0%;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}
.empty{
    height: 120px;
    padding: 50px;
}
.bold{
    font-weight: bold;
}
.small{
    font-size: smaller;
}
.italic{
    font-style: italic;
}