.italic{
    font-style: italic;
}
.funnyBottomText{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}
/*---main---*/
html{
    background-color: floralwhite;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fullname{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.name{
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: bolder;
}
.surname{
    display: flex;
    margin: 0%;
    padding-top: 0%;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}
li form{
    text-align: center;
    border-width: 0.1em;
}
button{
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    width: 150px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
button:hover{
    background-color: aquamarine;
    color: cornflowerblue;
}


#footer{
    position: fixed;
    padding-left: 10px;
    left: 5px;
    bottom: 0;
    width: 33%;
    background-color:rgba(255, 245, 210, 0.61);
    padding-left: 10px;
}
.footerText{
    padding: 0;
    margin: 0;
}
.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 250);
    padding-bottom: 50px;
    margin: 0 30% 0 30%;
}
.mainContent ul{
    padding-top: 0;
    list-style: none;
    padding-left: 20%;
    padding-right: 20%;
}

@media only screen and (max-width:950px) {

    #footer{
        position: bottom;
        padding-left: 0;
    }
    .footerText{
        padding: 0;
        margin: 0;
    }
    .mainContent{
        display: flex;
        align-items: center;
        margin: 0 5% 0 5%;
    }
    .mainContent ul{
        list-style: none;
        padding: 0;
    }
}