/*---general---*/
#footer{
    position: absolute;
    bottom: 0;
    padding-left: 0;
}
.footerText{
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
.small{
    font-size: smaller;
}
.italic{
    font-style: italic;
}
.funnyBottomText{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}
/*---main---*/
html{
    background-color: azure;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    top: 50px;
    float: left;
}
.mainContent{
    margin-left: 5px;
    display: flex;
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    float: left;
}
.blogPost{
    margin: 5px;
    border: 4px;
    border-style: solid;
    border-color: beige;
    height: 150px;
    width: 150px;
    padding: 8px;
    background-color: cornsilk;
    text-align: left;
    bottom: 0;
}
.blogPostTitle{
    font-size: small;
    position: relative;
    bottom: 0;
    left: 0;
}
