<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
        <link rel="stylesheet" href="/css/blog_post">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 style="display: none;"> html go brrrrrr</h1>
        <header>
            <div class="title">
                <h1> {{ header_title }} </h1>
                <h3> {{ header_subtitle }} </h3>
            </div>
            <div>
                <p class="date"> {{ header_date }} </p>
            </div>
        </header>
        <div class="mainContent">
            <p>
                {{ subtitle }}
            </p>
            <h3>Index:</h3>
            <ol>
                {%- for item in indexes -%}
                    <li>
                        <a id="index" href="#{{ item }}">{{ item }}</a>
                    </li>
                {%- endfor -%}
            </ol>
            
            {{ content }}

            <div class="the-end">
                <p>Fin.</p>
            </div>           
        </div>
        {% include "footer.html" %}
    </body>
</html>