<!DOCTYPE html>
<html>
    <head>
        <title>the blog</title>
        <link rel="stylesheet" href="/assets/styles/blog.css">
        <link rel="stylesheet" href="/assets/styles/footer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <input type="checkbox" id="theme" class="theme">
        <label for="theme" aria-label="Toggle Theme">
            <span class="toggle-indicator"></span>
        </label>

        <main>
            <header>
                <h2>A blog:</h2>
                <p style="font-size: small; font-style: italic;">I guess now I should write some blog posts...</p>
            
            </header>

           <ul>
            {% block post_list %}
                <li>
                {%- for post in blog_posts -%}
                    <a class="blogPost" href="{{ post.href }}">
                        <div class="post_content">
                            <img src="{{ post.image }}" class="thumbnail"></img>
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.tags }}</p>
                            <p class="time"> {{ post.date }}</p>
                        </div>
                    </a>
                {%- endfor -%}
                </li>
            {% endblock %}
            </ul>
        </main>

        {% include "footer.html" %}
    </body>
</html>
