<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
        <link rel="stylesheet" href="/css/blog_post">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 style="display: none;"> html go brrrrrr</h1>
        <header>
            <div class="fulltitle">
                <h1> {{ header_title }} </h1>
                <h3> {{ header_subtitle }} </h3>
            </div>
            <div>
                <p class="date"> {{ header_date }} </p>
            </div>
        </header>
        <div class="mainContent">
            <p>
                {{ subtitle }}
            </p>
            <h3>Index:</h3>
            <ol>
                {%- for item in indexes -%}
                    <li>
                        <a id="index" href="#{{ item }}">{{ item }}</a>
                    </li>
                {%- endfor -%}
            </ol>
            
            <!-- {% block content %}<p>Yeah this isn't finished</p>{% endblock %} -->
            {{ content }}
            
            <div class="the-end">
                <p>Fin.</p>
            </div>           
        </div>
        <footer>
            <div style="margin:10px 20px 10px 0;">
                <div style="display: flex;">
                    <form><button formaction="https://daffy.tech/blog">go-back</button></form>
                    <a id="comments" href="mailto:comments@mgc.sh">email something!</a>
                </div>
                <p>here since the <b>3rd of October of 2022</b></p>
            </div>
        </footer>
    </body>
</html>