<footer>
    <div style="margin:10px 20px 10px 0;">
        <div style="display: flex;">
            <form><button class="button" formaction="/">go-back</button></form>
            <a id="suggestions" href="mailto:message@mgc.sh">email a suggestion!</a>
        </div>
        <p>here since the <b>3rd of October of 2022</b></p>
    </div>
</footer>

<!-- <footer>
    <div style="margin:10px 20px 10px 0;">
        <div style="display: flex;">
            <form><button formaction="https://daffy.tech/blog">go-back</button></form>
            <a id="comments" href="mailto:comments@mgc.sh">email something!</a>
        </div>
        <p>here since the <b>3rd of October of 2022</b></p>
    </div>
</footer> -->