footer{
    position: fixed;
    padding-left: 10px;
    left: 5px;
    bottom: 0;
    width: auto;
    background-color:rgba(255, 245, 210, 0.61);
    padding-left: 10px;
}
footer p{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}
/*---main---*/
html{
    background-color: azure;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    top: 50px;
    float: left;
}
div.blogPost{
    margin: 5px;
    border: 4px;
    border-style: solid;
    border-color: beige;
    height: 150px;
    width: 150px;
    padding: 8px;
    background-color: cornsilk;
    text-align: left;
    top: 0;
    float: left;
}
.blogPost a{
    background-color: rgb(212, 169, 94);
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.blogPost a:link{
    text-decoration: none;
}
.blogPost a:hover {
    background-color: coral;
    color: slategray;
}
.blogPost a:visited {
    color: darkslategray;
}
.blogPost h2{
    position: relative;
    top: 0;
    text-align: left;
    margin: 0 5% 0 5%;
    overflow-wrap: break-word;
}
.blogPost p{
    position: relative;
    left: 0;
    text-align: right;
    margin: 2% 5% 0 0;
    font-size: small;
    font-weight: bold;
}
.blogPost time{
    margin: 0 5% 0 5%;
    font-size: 12px;
    font-weight: bold;
}

button.button{
    width: 100px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
button:hover.button{
    background-color: aquamarine;
    color: cornflowerblue;
}
#suggestions{
    margin-left: 5px;
    width: 190px;
    margin-top: 8px;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(254, 255, 248);
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
a:link#suggestions{
    text-decoration: none;
}
a:hover#suggestions {
    background-color: aquamarine;
    color: cornflowerblue;
}

a#hw-corne{
    background-size: 200px;
    background-image: url(crkbd/hw-corne1.png);
}
#hw-corne p{
    padding-bottom: 35px;
}

.mainContent{
    margin-left: 5px;
    display: flex;
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    float: left;
}
.mainContent ul{
    list-style: none;

}
@media only screen and (max-width:1250px) {

    .mainContent{
        display: flex;
        align-items: center;
        margin: 0 30px 0 30px;
    }
    .mainContent ul{
        list-style: none;
        padding: 0;
    }
}
