#footer{
    position: fixed;
    padding-left: 10px;
    left: 5px;
    bottom: 0;
    width: auto;
    background-color:rgba(255, 245, 210, 0.61);
    padding-left: 10px;
}
.footerText{
    margin: 0;
    padding-top: 6px;
    font-size: smaller;
    font-style: italic;
}
/*---main---*/
html{
    background-color: floralwhite;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.name li{
    padding: 0;
    border-width: 0;
    margin: 0;
}
.name hr{
    width: 8%;
}
.name h3{
    font-size: 18px;
}


/*---content that changes for mobile---*/
.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 250);
    padding-bottom: 50px;
    margin: 0 700px 0 700px;
}
.experience ul{
    padding-top: 0;
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
}
.experience h1{
    font-size: 22px;
}
.experience h4{
    padding: 0;
    margin: 0 0 0 10px;
}
.experience form{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 8px;
    padding: 6px;
    font-size: 16px;
    width: 150px;
    background-color: floralwhite;
    border-color: azure;
    border-style: none;
    color: darkslategray;
}
button:hover{
    background-color: aquamarine;
    color: cornflowerblue;
}

@media only screen and (max-width:1250px) {

    .buttons{
        align-items: center;
    }
    .buttons form{
        padding-left: 8%;
        padding-right: 8%;
        width: 30%;
    }
    button{
        font-size: 30px;
        margin: 3% 0 3% 0;
    }
    .experience{
        font-size: 140%;
        display: flex;
        align-items: center;
        margin: 0 5% 50px 5%;
        padding: 1%;
    }
    .experience ul{
        list-style: none;
        padding: 0;
    }
}